.social {
    position: fixed;
    right: -8em;
    bottom: 10em;
    rotate: 90deg;
    
    .socialBtns {
        display: flex;
        column-gap: 20px;
        list-style: none;
        padding: .4rem;
        border-radius: 5px;
        margin-top: 4rem;
        justify-content: center;
    
        .socialBtn{
            width: 38px;
            height: 38px;
            border-radius: 50%;
            outline: 1px solid #f3e7e7;
            cursor: pointer;
            transition: all 0.3s;
            display: grid;
            place-items: center;
            rotate: -90deg;
        }
    
        .socialBtn:hover {
            outline-offset: 3px;
            outline: 1px dashed brown;
            background-color: #d1d1d1;
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    .social{
        // display: none;
        position: absolute;
        rotate: 360deg;
        bottom: 0;
        left: 0;
        right: 0;

        .socialBtns {

            .socialBtn{
                rotate: 360deg;
            }
        }
    }
}